.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
img {
  object-fit: contain;
}

textarea {
  width: 500px;
  min-height: 50px;
}
.loader {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}
